<div class="navbar">
    <div>
        <a href="/home">
            <img src="https://img.icons8.com/?size=100&id=9zcV0gKAozhn&format=png&color=e0e0e0" alt="Ícone Home"
                style="width: 36px; height: 36px;">
        </a>
    </div>
    <div>
        <button onclick="window.location.href='/propostas'">Propostas</button>
        <button>Serviços</button>
        <button>Clientes</button>
        <button>Histórico</button>
    </div>
    <div class="icon">
        <a href="/config">
            <img src="https://img.icons8.com/?size=100&id=qOH8AEbMnHas&format=png&color=e0e0e0" alt="Ícone config"
                style="width: 36px; height: 36px;">
        </a>
        <a href="/logout">
            <img src="https://img.icons8.com/?size=100&id=q4ZIbaRJl8l0&format=png&color=e0e0e0" alt="Ícone sair"
                style="width: 36px; height: 36px;">
        </a>
    </div>
</div>